<h3>this is webapplication</h3>


<article class="info">
    <Info::Image src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Crane_estate_(5).jpg"
alt="picture "/>
<div class="major">
    <span>Class:</span>first
</div>
<div class="name">
    <span>Name:</span>sowmi
</div>
<div class="location">
 <span>Loaction:</span>bangalore
</div>
</article>